/* Alerts */

.alert {
    display: none;
    color: white;
    border-radius: 0 !important;
    z-index: 7000 !important;
}

.alert.error {
    background-color: rgba(218, 0, 0, 0.9)
}

.alert.success {
    background-color: rgba(0, 194, 0, 0.9)
}

.alert.warning{
    background: rgba(255, 219, 58, 0.9);
    color: black;
}

.rateBtns>.active {
    border: 3px solid black !important;
}

.bgFormCancel {
    position: relative !important;
    left: 0% !important;
}