/* LOADING SCREEN */

.loadingDiv{
    position: fixed;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: 5000;
}

.loadingGif{
    height: 50%;
    position: relative;   
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/* HOME PAGE */

.bldIcon{
    margin-left: 5px;
}

.homePageDiv{
    position: relative;
    height: 100%;
    overflow: hidden;
    border-bottom: 3px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: white;
    border-style: solid;
}

.homePageBg {
    background-size:cover;
    height:auto;
    width:100%;
    position: absolute;
    left:50%;
    transform: translateX(-50%)
}

.alarmAnimation {
    width: 160px; 
    position: absolute;
    left: 74%;
    bottom: 0%;
}

.about-col{
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}

.about-col>.img>.ImgOverHide{
    position: relative;
    width: 100%;
    height: 100%;
}

.about-col>img{
    height: 100%;
}

.ImgOverHide>img{
    height: 100%;
    width: 100%;
}

/*
.about-col>.title-text>p{
    position: relative;
    top:40%;
    transform: translateY(-50%)
}*/

.figureImg{
    height: 100%;
    width: 100%;
}

.fabtt{
    position: relative;
    top:50%;
    transform: translateY(-50%);
}

.link-preview{
    height: 40% !important;
    width: 30% !important;
    transform: translate(-50%,-50%);
    border: 7px solid white;
}

.viewEye{
    height: 100%;
    font-size: 70px;
}

.member{
    border-radius: 5px;
}

.member>img{
    border-radius: 5px;
}

/* MOBILE RESPONSIVENESS */

@media screen and (max-width:414px){
    .homePageBg {
        width:auto;
        position: absolute;
        left:50%;
        transform: translateX(-46%);
        height: 100%;
    }
    .loadingDiv{
        width: 100%;
    }
    .loadingGif{
        height: 40% !important;
    }
    .alarmAnimation{
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 50%;
        position: absolute;
        left:50%;
        bottom:2%;
        transform: translateX(-50%)
    }
    .svg-inline--fa{
        color:white;
    }
    .img-fluid{
        min-height: 100%;
    }
}

.Techset {
    background:rgba(206, 69, 69, 0.7);
    border:2px solid white;
    border-radius: 10px;
    color:white;
}

.bounceInUp{
    padding: 1.5vh 3vh 1.5vh 3vh;
}

p.description{
    margin: 0 !important;
}

.sendBtn{
    padding: 2vh 3vw 2vh 3vw;
    background: #cc0000;
    color: white;
}

.service-sub-heading{
    color: black;
}

.facts-sub-heading>h3{
    font-size: 3rem !important;
}

.clients-sub-heading>h3{
    font-size: 2rem !important;
    color: black;
}

.portfolio-info>h4>a:hover{
    color:black !important;
}

.teamMemberImage{
    box-shadow: 0px 2px 12px rgba(248, 248, 248, 0.555);
}

.oddImage{
    position: relative;
    left:50%;
    transform: translateX(-50%);
}